<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auton sivu</title>
</head>
<body>
<div>
    <h1>Auto</h1>
    <div><span>Valmistenumero: </span><span th:text="${auto.getValmistenumero()}"></span></div>
    <div><span>Rekisterinumero: </span><span th:text="${auto.getRekisterinumero()}"></span></div>
    <div><span>Merkki: </span><span th:text="${auto.getMerkki()}"></span></div>
    <div><span>Malli: </span><span th:text="${auto.getMalli()}"></span></div>
    <div><span>Valmistusvuosi: </span><span th:text="${auto.getValmistusvuosi()}"></span></div>
    <div><span>Omistajat: </span>
        <ul th:each="omistaja :${auto.getOmistajat()}">
            <li th:text="|${omistaja.getEtunimi()} ${omistaja.getSukunimi()}|"></li>
        </ul>

        <h4>Lisää omistajaa</h4>
        <form th:action="@{/car-edit/{id}/owners(id = ${auto.id})}" method="post">
            <div th:class="formfield">
                <label for="ownerId">Omistaja:</label>
                <select type="text" name="ownerId" id="ownerId"/>
                <option th:each="omistaja : ${omistajat}"
                        th:text="|${omistaja.getEtunimi()} ${omistaja.getSukunimi()}|"
                        th:value="${omistaja.id}"></option>
                </select>
            </div>
            <input type="submit" value="Lisää">
        </form>
    </div>


    <form th:action="@{/cars}" method="post">
        <div th:class="formfield">
            <label for="etunimi">Etunimi:</label>
            <input type="text" name="name" id="etunimi"/>
        </div>
        <div th:class="formfield">
            <label for="lastname">Sukunimi:</label>
            <input type="text" name="lastname" id="lastname"/>
        </div>
        <input type="submit" value="Lisää">
    </form>

    <a th:href="@{/}">Takaisin</a>
</div>

</body>
</html>