<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="reset.css">
    <link rel="stylesheet" th:href="styles.css">
    <title>Lisää auto</title>
</head>
<body>
<div th:class="wrap-container">
    <h1>Lisää auto</h1>

    <form th:action="@{/car-add}" method="post">
        <div th:class="formfield">
            <label for="valmistenumero">Valmistenumero:</label>
            <input type="text" name="valmistenumero" id="valmistenumero"/>
        </div>
        <div th:class="formfield">
            <label for="rekisterinumero">Rekisterinumero:</label>
            <input type="text" name="rekisterinumero" id="rekisterinumero"/>
        </div>
        <div th:class="formfield">
            <label for="merkki">Merkki:</label>
            <input type="text" name="merkki" id="merkki"/>
        </div>
        <div th:class="formfield">
            <label for="malli">Malli:</label>
            <input type="text" name="malli" id="malli"/>
        </div>
        <div th:class="formfield">
            <label for="valmistusvuosi">Valmistusvuosi:</label>
            <input type="text" name="valmistusvuosi" id="valmistusvuosi"/>
        </div>

        <input th:class="btn-add" type="submit" value="Lisää">

    </form>

    <a th:class="btn" th:href="@{/}">Takaisin</a>
</div>


</body>
</html>